<!-- Footer -->
<div class="row footer">
    <div class="col-xs-12">
        <div class="copyright">
            &copy;2014 Launchcode Software Studios, Inc
            <br/>
            This site is protected by copyright and trademark under Canadian and International law. All rights reserved.
        </div>
    </div>
</div>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/main.js"></script>

{{ template "partials/3rd-party-scripts/typekit.html" . }}

<!-- prefixfree is amazing and automatically adds the appropriate vendor-prefixes to your CSS, so our CSS can be free of --webkit, etc. -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<script>
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });

</script>

{{ template "partials/3rd-party-scripts/google-analytics.html" . }}
{{ template "partials/3rd-party-scripts/disqus-comment-count.html" . }}

