<!-- Footer -->
<div class="row footer">
    <div class="col-xs-12">
        <div class="copyright">
            &copy;2014 Wychwood Software Studios, Inc
            <br/>
            This site is protected by copyright and trademark under Canadian and International law. All rights reserved.
        </div>
    </div>
</div>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/main.js"></script>

