<!-- head_includes - your place for CSS/JavaScript etc -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
<link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="./vendor/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css" />
<style>
    .wf-loading * {
        visibility: hidden;
    }
    .wf-active * {
        visibility: visible;
    }
</style>
{{ "<!-- gulp-inject:maincss:css --><!-- endinject -->" | safeHtml }}
