{{ template "partials/contact-modal.html" . }}
<nav class="navbar navbar-default wychwood-nav" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#wych-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- These spans represent the sandwich button -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ template "partials/rocket-logo.html" . }}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="wych-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#section1"><i class="fa fa-gears fa-lg"></i>&nbsp;<span class="hidden-sm">Web &amp; App&nbsp;</span>Development</a></li>
                <li><a href="#section2"><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp;Startup Support</a></li>
                <li><a href="/posts/"><i class="fa fa-rss fa-lg"></i>&nbsp;Blogs</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
                <li class=""><a href="/careers"><i class="fa fa-group fa-lg"></i>&nbsp;Careers</a></li>
                <li class=""><a href="#contactModal" data-toggle="modal" data-target="#contactModal"><i class="fa fa-phone fa-lg"></i><span class="hidden-sm">&nbsp;Contact</span></a></li>
            </ul>
            <!-- <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Wychwood...">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
            </form> -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>