<a class="navbar-brand" href="#">
    <div class="rocketTable tk-estilo-script" onclick="" style="max-height: 40px; overflow: visible; position: relative;">
        <div style="display: row;">
            <div style="display: table-cell; vertical-align: middle; max-height: 40px; overflow: visible; z-index: 5;">
                <div class="titleLeft">&lt;&nbsp;launch</div>
                <span class="rocket-no-circle" style="margin-left: -10px; margin-right: -5px; padding: 0; position: relative; bottom: 5px; left: 5px; z-index: 5; max-height: 40px; overflow: visible;">
                    {{ $rocketSize := 75 }}
                    {{ template "partials/rocket.html" $rocketSize }}
                </span>
                <div class="titleRight">code5&nbsp;/&gt;</div>
            </div>
        </div>
    </div>
</a>