<a class="navbar-brand" href="#">
    <div class="rocketTable tk-estilo-script" onclick="" style="max-height: 40px; overflow: visible; position: relative;">
        <div style="display: row;">
            <div style="display: table-cell;">
                <div class="titleLeft">&lt;&nbsp;launch&nbsp;</div>
                <span class="rocket-no-circle">
                    {{ $rocketSize := "60px" }}
                    {{ template "partials/rocket.html" $rocketSize }}
                </span>
                <div class="titleRight">&nbsp;code5&nbsp;/&gt;</div>
            </div>
        </div>
    </div>
</a>