
<svg class="wychwood-svg" viewBox="0 0 100 26">
    <text x="7" y="12" class="tk-freight-sans" style="fill: #E0E0E0 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5); font-size: 14pt;">Wychwood<tspan x="4.6" y="25" style="font-size: 10pt;">Software Studios</tspan></text>
</svg>
<svg class="gets-better-svg" viewBox="0 0 220 32">
    <text x="7" y="12" class="tk-freight-sans" style="fill: #B5B5B5 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5); font-size: 10pt;">
        <tspan x="12">We develop ideas, applications and</tspan>
        <tspan x="2" y="25" style="font-size: 10pt;">web sites that </tspan>
        <tspan style="fill: #E0E0E0;">get even better over time.</tspan>
    </text>
</svg>
<svg class="let-us-help" viewBox="0 0 220 32">
    <text x="7" y="12" class="tk-freight-sans" style="fill: #B5B5B5 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5); font-size: 10pt;">
        <tspan x="20">Let us help your organization turn</tspan>
        <tspan x="10" y="25" style="font-size: 10pt;">your ideas into </tspan>
        <tspan style="fill: #E0E0E0;">products with real value.</tspan>
    </text>
</svg>
