<div class="author-mid">
    <div class="author-mid-pic backdrop">
        <img class="author-pic" src="/images/contributors/{{ .Params.author}}.png" />
    </div>
    <div class="table-row backdrop">
        <div class="table-cell">
            <div class="author-mid-bio">
                {{ if eq .Params.author "ryan-kimber" }}
                {{ template "partials/authors/mid/ryan-kimber.html" . }}
                {{ end}}
                {{ if eq .Params.author "betty-li" }}
                {{ template "partials/authors/mid/betty-li.html" . }}
                {{ end}}
            </div>
        </div>
    </div>
    <div class="table-row">
        <div style="display: table-cell; padding-top: 8px;">
            <div style="margin-top: 5px;"><a class="hand btn btn-block btn-default" href="#contactModal" data-toggle="modal" data-target="#contactModal"><i class="fa fa-fw fa-phone fa-lg"></i><span class="hidden-sm">Hire Us</span></a></div>
            {{ if eq .Params.author "ryan-kimber" }}
                <div style="margin-top: 5px;"><a class="hand btn btn-block btn-default" onclick="openResume('ryan-kimber')"><i class="fa fa-fw fa-file-text-o fa-lg"></i>View Resume</a></div>
                <div style="margin-top: 5px;">
                    <a class="hand btn btn-block btn-default" onclick="twitterFollow('ryan_kimber');"><i class="fa fa-fw fa-twitter fa-lg"></i>Follow Ryan</a>
                </div>

            {{ end }}
            {{ if eq .Params.author "betty-li" }}
            <div style="margin-top: 5px;"><a class="hand btn btn-block btn-default" onclick="twitterFollow('blibotics');"><i class="fa fa-fw fa-twitter fa-lg"></i>Follow Betty</a></div>
            {{ end }}
        </div>
    </div>
</div>