div.author-brief {
  position: absolute;
  bottom: -35px;
  width: 100%;
  transition: all 0.4s ease 0;

  font-size: 12pt;
  padding-left: 15px;
  padding-right: 15px;

  div.post-author {
    display: table-cell;
    padding-top: 30px;
    opacity: 0;
    transition: all 0.4s ease 0;
    width: 70%;

    h4.author {
      text-align: left;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p.author-brief
    {
      color: lighten($darkColour, 30);
      font-size: 14px;
    }
  }

    img.author-pic {
      width: 35%;
      float: right;
      margin-top: 30px;
      margin-left: -7px;
      margin-right: 0px;
      max-width: 100px;
      height: auto;
      border-radius: 50%;
      border: 1px solid transparent;
  }
}
