<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <!-- This is where the head starts -->
{{ template "partials/html-header.html" . }}
    </head>
<body lang="en" class="tk-freight-sans-pro">
    {{ template "partials/page-header.html" . }}
    {{ template "partials/index/banner.html" . }}


<div class="container-fluid">
    <div class="row section button-section">
        <div class="col-xs-6 col-md-3">
            <div class="tile firstGradient">
                <a class="tileLink" href="#section1">
                    <i class="fa fa-cogs fa-4x"></i>
                    <div>Web &amp; App Development</div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
           <div class="tile secondGradient">
               <a class="tileLink" href="#section2">
                   <i class="fa fa-lightbulb-o fa-4x"></i>
                   <div>Strategy &amp; Startup Support</div>
               </a>
           </div>
       </div>

       <div class="col-xs-6 col-md-3">
           <div class="tile thirdGradient">
               <a class="tileLink" href="#section3">
                   <i class="fa fa-road fa-4x"></i>
                   <div>Principled Development</div>
               </a>
           </div>
       </div>
       <div class="col-xs-6 col-md-3">
           <div class="tile fourthGradient">
               <a class="tileLink" href="#section4">
                    <i class="fa fa-comments fa-4x"></i>
                    <div>No Fee Consultations</div>
               </a>
           </div>
       </div>
    </div>
    <div class="anchor" id="section1"></div>
    <div class="row section firstGradient">
        {{ template "partials/index/web-and-app-development.html" . }}
    </div>
    <div class="anchor" id="section2"></div>
    <div class="row section secondGradient">
       {{ template "partials/index/strategy-and-startup-support.html" . }}
    </div>
    <div class="anchor" id="section3"></div>
    <div class="row section thirdGradient">
        {{ template "partials/index/principles.html" . }}
    </div>
    <div class="anchor" id="section4"></div>
    <div class="row section fourthGradient">
        {{ template "partials/index/consultations.html" . }}
    </div>
    <div class="anchor" id="section5"></div>
    <div class="row section secondGradient">
        {{ template "partials/index/latest-from-blog.html" . }}
    </div>
</div>

{{ template "partials/footer.html" }}
</body>
</html>