<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <!-- This is where the head starts -->
{{ template "partials/html-header.html" . }}
    </head>
<body lang="en" class="tk-freight-sans-pro">
    {{ template "partials/page-header.html" . }}
    <div class="banner-table">
        <div style="display: table-row;">
            <div class="banner-background-img">
                <div class="overlay"></div>
                <div class="banner-image-wrapper">
                    <img class="img1" src="images/1.jpg" />
                </div>
                <div class="banner-image-wrapper">
                    <img class="img2" src="images/2.jpg" />
                </div>
                <div class="banner-image-wrapper">
                    <img class="img3" src="images/3.jpg" />
                </div>
                <div class="banner-image-wrapper">
                    <img class="img4" src="images/4.jpg" />
                </div>
                <div class="banner-image-wrapper">
                    <img class="img5" src="images/5.jpg" />
                </div>
            </div>
        </div>
        <div style="display: table-row;">
            <div class="center-cell" style="overflow: hidden;">
                <div class="wychwood-logo">
                    {{ template "partials/banner-messages.html" . }}
                </div>
                <!-- <div class="rocketFlier animate">
                    <div class="rocket-no-circle">
                        {{ $rocketSize := "600px" }}
                        {{ template "partials/rocket.html" $rocketSize }}
                    </div>
                </div> -->
            </div>
        </div>
    </div>



<div class="container-fluid">
    <div class="row section button-section">
        <div class="col-xs-6 col-md-3">
            <div class="tile firstGradient">
                <a class="tileLink" href="#section1">
                    <img src="images/protractor.png" style="width: 4em; height: auto; padding-top: 10px; padding-bottom: 10px;" />
                    <div><span class="hidden-xs">Web &amp; App&nbsp;</span>Development</div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
           <div class="tile secondGradient">
               <a class="tileLink" href="#section2">
                   <i class="fa fa-lightbulb-o fa-4x"></i>
                   <div>Startup Support</div>
               </a>
           </div>
       </div>

       <div class="col-xs-6 col-md-3">
           <div class="tile thirdGradient">
               <a class="tileLink" href="#section3">
                   <i class="fa fa-road fa-4x"></i>
                   <div>Our Approach</div>
               </a>
           </div>
       </div>
       <div class="col-xs-6 col-md-3">
           <div class="tile fourthGradient">
               <a class="tileLink" href="#section4">
                    <i class="fa fa-comments fa-4x"></i>
                    <div>No Fee Consultations</div>
               </a>
           </div>
       </div>
    </div>
    <div class="anchor" id="section1"></div>
    <div class="row section firstGradient">
        <div class="col-xs-3">
            <div class="pull-right" style="width: 70px;">
               <img src="/images/protractor.png" style="width: 70px; height: auto;" />
            </div>
        </div>
        <div class="col-xs-9"><h2>Web &amp; Application Development</h2></div>
    </div>
    <div class="anchor" id="section2"></div>

    <div class="row section secondGradient">
        <div class="col-xs-3">
        <i class="fa fa-fw fa-lightbulb-o fa-4x pull-right"></i>
        </div>
        <div class="col-xs-9">
            <h2>Startup Support &amp; Concept Development</h2>
            <p>Whether you represent an existing enterprise or are trying to start up a new company, we're here to help.</p>
            <p>Our team has years of experience in the development and commercialization of new products, both within large pre-existing enterprises and with companies that are just starting up.</p>
            <p>Let us help you understand the technical and logistical challenges you may encounter in trying to bring a product to life, develop a working prototype or turn an existing prototype into a marketable finished product.</p>
        </div>
    </div>


    <div class="anchor" id="section3"></div>
    <div class="row section thirdGradient">
        <div class="col-xs-3">
            <i class="fa fa-fw fa-road fa-4x pull-right"></i>
        </div>
        <div class="col-xs-9">
            <h2>Our Approach</h2>
            <p>Our team works directly with our clients in a rapid, collaborative &amp; iterative process.</p>
            <p>Working iteratively ensures that feedback can be quickly incorporated into the product &amp; minimizes the cost of changes.</p>
            <p>Our team is guided by seven founding principles that help to ensure the success of our projects and the positive relationships we have both with our clients and within our team:
                <ul>
                    <li>Measurable, Iterative Results</li>
                    <li>Product Quality is more imporant than Growth</li>
                    <li>Clients are Respected Partners</li>
                    <li>Hard Work &amp; Commitment are Rewarded</li>
                    <li>Objectives, Reasoning &amp; Expectations are clear</li>
                    <li>Treat the Team and Clients like Family</li>
                    <li>Dedication to Innovation</li>
                    <li>Honesty &amp; Integrity above all else</li>
                </ul>

            </p>
        </div>
    </div>
    <div class="anchor" id="section4"></div>
    <div class="row section fourthGradient">
        <div class="col-xs-3">
            <i class="fa fa-fw fa-comments fa-4x pull-right"></i>
        </div>
        <div class="col-xs-9">
            <h2>No Fee Consultations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        {{ template "chrome/sidebar.html" . }}
        </div>


        <div class="content col-md-8">
            <div class="posts">

                {{ range .Data.Pages }}
                <div class="post">
                    <h1 class="post-title">
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </h1>

                    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

                    {{ .Content }}
                </div>
                {{ end }}
            </div>

            <hr>
            <div>
                <h2>Recent Posts</h2>

                {{ range first 5 .Data.Pages }}
                <h3 class="posts"><a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></h3>
                <p> {{ .Description }} <a href="{{ .Permalink }}"> Read More &rarr; </a></p>
                {{ end }}

            </div>
        </div>
    </div>
</div>

{{ template "partials/footer.html" }}
</body>
</html>