<!-- Footer -->
<div class="row footer">
    <div class="col-xs-12">
        <div class="col-xs-9 copyright">
            &copy;2014 Launchcode Software Studios, Inc
            <br/>
            This site is protected by copyright and trademark under Canadian and International law. All rights reserved.
        </div>
        <div class="col-xs-3 copyright pull-right">
            Connect with Us
            <br />
            <a href="https://twitter.com/launchcode5"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/launchcode-software-studios"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
            <a href="http://feeds.feedburner.com/BlogsAtLaunchcodeSoftwareStudios" title="Subscribe to our Blogs via Feedburner"><i class="fa fa-fw fa-2x fa-rss"></i></a>
        </div>
    </div>
</div>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/flowtype.js"></script>
<script src="/js/main.js"></script>
<script src="/js/prism.js"></script>

<!-- Twitter API -->
<script>window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));</script>

<!-- prefixfree is amazing and automatically adds the appropriate vendor-prefixes to your CSS, so our CSS can be free of --webkit, etc. -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<script>
    Prism.highlightAll(false);
    jQuery('.flowtype').flowtype({
        minimum   : 500,
        maximum   : 1200,
        minFont   : 10,
        maxFont   : 36,
        fontRatio : 40
    });
</script>
{{ template "partials/3rd-party-scripts/google-analytics.html" . }}
{{ template "partials/3rd-party-scripts/disqus-comment-count.html" . }}

