.navbar {
  border-radius: 0 !important;

  &.launchcode-nav
  {
    position: fixed;
    width: 100%;
    background-color: rgba(#FFFFFF, 0.80);
    z-index: 50;
    transition: 1.0s;
    transition-timing-function: linear;
  }

  .nav-launch-logo
  {
    margin-top: 10px;
    width: auto;
    height: 25px;

    @media screen and (max-width: $break-small) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 15px;
    }
  }

  &.launchcode-nav:hover
  {
    background-color: rgba(#FFFFFF, 1.0);
    transition-timing-function: linear;
  }
}

.navbar.launchcode-nav
{
  padding-right: 0px;

  .navbar-collapse
  {
    margin-right: 0px;
    padding-right: 0px;
  }
}


.nav > li > a
{
  padding: 10px 8px;
  padding-top: 15px;

  span.nav-text
  {
    padding-left: 2px;
  }
}

.nav.nav-pills > li > a > div.nav-social-btn
{
  width: 25px;
  height: 25px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.nav.nav-pills > li > a.twitter-follow-btn
{
  background-color: darken(#3071a9, 10);
  color: #E0E0E0 !important;
  margin: 0 0;
  padding: 2px 2px;
  margin-left: 10px;
  margin-top: 10px;
}

.nav.nav-pills > li > a.feedburner-subscribe-btn
{
  background-color: darken(#FF6600, 10);
  color: #E0E0E0 !important;
  margin: 0 0;
  padding: 2px 2px;
  margin-left: 3px;
  margin-top: 10px;
}

.nav.nav-pills > li > a > span.twitter-follow-btn {
  color:  #F0F0F0 !important;
  background-color: #3071a9;
  &:hover, &:focus {
    color:  #F0F0F0 !important;
    background-color: #3071a9;
  }
}

.nav.nav-pills > li > a > span.feedburner-subscribe-btn {
  color:  #F0F0F0 !important;
  background-color: #FF6600;
  &:hover, &:focus {
    color:  #F0F0F0 !important;
    background-color: #FF6600;
  }
}

.navbar-default .navbar-brand
{
  color: #000000;
  padding-top: 13px;
}

.navbar-default a.navbar-brand:hover
{
  color: #333333;
}

.navbar-default {
  border: none;
  border-bottom: 1px solid $firstColour;
  color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #F0FFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
  /* text-shadow: 2px 2px rgba(50,50,50, 0.5); */
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #333333;
}

.navbar .form-control {
  background-color: #DDDDCC;
}

.navbar .btn-default {
  background-color: #BBBBAA;
}
