<div class="col-xs-12">
    <div class="col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-md-10 col-sm-12">
        <div class="content">
            <div class="posts">
                {{ range first 6 .Data.Pages.ByDate.Reverse }}
                    {{ template "partials/common/post-summary-tile.html" . }}
                {{ end }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="pull-right">
                <a class="btn btn-default" style="color: #000011" href="/blogs">More Articles</a>
            </div>
        </div>
    </div>
</div>