<div class="col-lg-4 col-sm-6">
    <div class="post-wrapper {{ index .Params.categories 0 }}" onclick="location.href = '{{ .Permalink }}';">
        {{ $category := index .Params.categories 0 }}
        <div class="post-category {{ $category }}">
            {{ if eq $category "launchcode" }}Thrive: A Launchcode News Blog{{ end }}
            {{ if eq $category "gotcha" }}Gotcha: A Quick Solutions to Frustrations Blog{{ end }}
            {{ if eq $category "tech" }}Evolve: Technology &amp; Design{{ end }}
            {{ if eq $category "process" }}Emerge: Management &amp; Process{{ end }}
            {{ if eq $category "team" }}Collaborate: Teamwork &amp; Leadership{{ end }}
        </div>
        <div class="post-header">
            <h3 class="post-title">{{ .Title }}</h3>
        </div>
        <div class="post-body">
            <div class="fader1"></div>
            <div class="fader2"></div>
            <div class="post-description">
                {{ .Description }}
            </div>
        </div>

        <div class="post-footer {{ $category }}">
            <div class="table-row">
                <div class="post-date">{{ .Date.Format "January 2, 2006" }}</div>
                <div class="post-comment-count">
                    <i class="fa fa-comments"></i>&nbsp;
                    <a href="{{ .Permalink }}/#disqus_thread" data-disqus-identifier="{{ .Params.disqusid }}">View Comments</a>
                </div>
            </div>
        </div>
        {{ template "partials/authors/author-brief.html" .}}
    </div>
</div>