<div class="banner-table">
    <div style="display: table-row;">
        <div class="banner-background-img">
            <!-- <div class="overlay"></div> -->
            <div class="banner-image-wrapper">
                <img class="img1" src="images/b1.jpg" />
            </div>
            <div class="banner-image-wrapper">
                <img class="img2" src="images/b2.jpg" />
            </div>
            <div class="banner-image-wrapper">
                <img class="img3" src="images/b3.jpg" />
            </div>
            <div class="banner-image-wrapper">
                <img class="img4" src="images/b4.jpg" />
            </div>
            <div class="banner-image-wrapper">
                <img class="img5" src="images/b5.jpg" />
            </div>
        </div>
    </div>
    <div style="display: table-row;">
        <div class="center-cell" style="overflow: hidden;">
            <div class="wychwood-logo">
                {{ template "partials/index/launchcode-studios-svg.html" . }}
                {{ template "partials/index/slide-1.html" .}}
                {{ template "partials/index/slide-2.html" .}}
                {{ template "partials/index/slide-3.html" .}}
                <a href="#contactModal" data-toggle="modal" data-target="#contactModal">{{ template "partials/index/slide-4.html" .}}</a>
            </div>
        </div>
    </div>
</div>