<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-comments fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>No Fee Consultations</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <a class="no-decoration" href="#contactModal" data-toggle="modal" data-target="#contactModal">
        <div class="consult-wrapper">
            <p>We're happy to meet with you and answer any questions you may have. We offer free, no obligation solution consultations so that we can get to know you and your objectives.</p>
            <p>Please drop us a line at 1-866-810-0202 or click to bring up and submit our contact form.</p>
        </div>
        </a>
    </div>
</div>