<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-rss fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>The Latest from our Blogs...</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10 col-sm-12">
            <div class="content">
                <div class="posts">
                    {{ range first 6 .Data.Pages }}
                    <div class="col-lg-4 col-sm-6">

                        <div class="post-wrapper {{ range .Params.categories }} {{ . }} {{ end }}" onclick="location.href = '{{ .Permalink }}';">
                            <div class="post-header">
                                <h3 class="post-title">{{ .Title }}</h3>
                            </div>
                            <div class="post-body">
                                <div class="fader1"></div>
                                <div class="fader2"></div>
                                <div class="post-description">
                                    {{ .Description }}
                                </div>
                            </div>
                            {{ $category := index .Params.categories 0 }}
                            <div class="post-footer {{ $category }}">
                                <div class="table-row">
                                    <div class="post-category">
                                        {{ if eq $category "launchcode" }}Thrive: A Launchcode News Blog{{ end }}
                                        {{ if eq $category "tech" }}Evolve: Technology &amp; Design{{ end }}
                                        {{ if eq $category "process" }}Emerge: Management &amp; Process{{ end }}
                                        {{ if eq $category "team" }}Collaborate: Teamwork &amp; Leadership{{ end }}
                                    </div>
                                    <div class="post-date">{{ .Date.Format "Jan 2, 2006" }}</div>
                                </div>
                            </div>
                            <div class="author-block">
                                <div class="table-row">
                                    <div class="post-author">
                                        {{ if eq .Params.author "ryan-kimber" }}
                                        {{ template "partials/authors/ryan-kimber.html" . }}
                                        {{ end}}
                                    </div>
                                    <div class="post-author-pic">
                                        <img class="author-pic" src="/images/contributors/{{ .Params.author}}.png" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="pull-right">
                    <a class="btn btn-default" style="color: #000011" href="/posts">Complete Article Listing</a>
                </div>
            </div>
        </div>

    </div>
</div>