<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-road fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>Our Approach</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="consult-wrapper">
            <p>Our team works directly with our clients in a rapid, collaborative &amp; iterative process.</p>
            <p>Working iteratively ensures that feedback can be quickly incorporated into the product &amp; minimizes the cost of changes.</p>
            <p>Launchcode5 was founded with seven founding principles that help to ensure the success of our projects and the positive relationships we have both with our clients and within our team:</p>
            <div class="col-xs-10 col-offset-1">
                <div class="values-svg-wrapper">
                    <svg class="value-svg-1" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">We define projects with Measurable, Iterative Milestones</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-2" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">Delivering quality trumps our growth</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-3" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">3</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-4" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">4</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-5" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">5</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-6" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">6</tspan>
                        </text>
                    </svg>
                    <svg class="value-svg-7" viewBox="0 0 200 20">
                        <text x="0" y="0" class="tk-freight-sans" style="fill: #111111 !important; text-shadow: 3px 3px rgba(15, 15, 15, 0.5);">
                            <tspan style="font-size: 6pt;" y="5">7</tspan>
                        </text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                Projects are defined in Measurable, Iterative Milestone
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                Delivering Quality is more important than Launchcode's Growth
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                Every Client is a Part of the Team
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                We Treat the Team like Family
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                Objectives, Reasoning &amp; Expectations must always be clear
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                We are Dedicated to Innovation
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="bullet-wrapper">
                Honesty &amp; Integrity above all else
            </div>
        </div>
    </div>
</div>