<div class="col-xs-3 col-md-2">
    <i class="fa fa-fw fa-road fa-4x pull-right"></i>
</div>
<div class="col-xs-8">
    <h2>Our Approach</h2>
    <p>Our team works directly with our clients in a rapid, collaborative &amp; iterative process.</p>
    <p>Working iteratively ensures that feedback can be quickly incorporated into the product &amp; minimizes the cost of changes.</p>
    <p>Our team is guided by seven founding principles that help to ensure the success of our projects and the positive relationships we have both with our clients and within our team:
    <ul>
        <li>Measurable, Iterative Results</li>
        <li>Product Quality is more imporant than Growth</li>
        <li>Clients are Respected Partners</li>
        <li>Hard Work &amp; Commitment are Rewarded</li>
        <li>Objectives, Reasoning &amp; Expectations are clear</li>
        <li>Treat the Team and Clients like Family</li>
        <li>Dedication to Innovation</li>
        <li>Honesty &amp; Integrity above all else</li>
    </ul>

    </p>
</div>