<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-road fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>Principled Development</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <div class="col-xs-12">
                <div class="bullet-wrapper extra-border-top">
                    <table>
                        <tr>
                            <td>
                                <h4>Values Matter</h4>
                                <p>We believe that an organization that clearly defines its principles creates a framework for its relations with clients and a floor for the expectations placed on both it, it's management and it's staff. With that in mind, Launchcode5 has been founded with seven guiding principles that each of us is expected to uphold: </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>1.</h1></td>
                            <td>
                                <h4>Projects are delivered in Measurable, Iterative Milestones with Real Business Value</h4>
                                <p>Each iteration of a project should deliver meaningful value to the client and every project should be structured so that, if it were to be cut short or cancelled, the work to that point would still provide real business value.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>2.</h1></td>
                            <td>
                                <h4>Delivering Quality is More Important than Launchcode's Growth</h4>
                                <p>Our team will be better served in the long-term by delivering quality projects to satisfied customers than by jeopardizing current projects or relationships in order to take on the next big thing.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>3.</h1></td>
                            <td>
                                <h4>Every Client is a Part of the Team</h4>
                                <p>Experience has shown us that every project, even those that are well thought-out and documented in advance, is a fluid undertaking that should be flexible enough to take advantage of opportunities discovered during it's development, or to adapt to a changing business environment.</p>
                                <p>To ensure that level of flexibility and nimble decision-making, we expect our clients to get to know us a bit and to be available for regular consultations &amp; demonstrations.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>4.</h1></td>
                            <td>
                                <h4>We Treat the Team like Family</h4>
                                <p>Individuals that are empowered to think for themselves, speak their minds, share their ideas, master their strong skills, improve their weaker ones, and provide mentorship to their peers make great teammates.</p>
                                <p>We want each team member to develop into a recognized master in their craft and will work to actively promote their accomplishments, publicly celebrate their achievements and help them prepare for their next challenges.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>5.</h1></td>
                            <td>
                                <h4>Objectives, Reasoning &amp; Expectations must always be clear</h4>
                                <p>Teams that fully understand the objectives of a project, the reasoning behind each task and the expectations of their clients and fellow teammates make intelligent &amp; informed design and development decisions.</p>
                                <p>Smooth running teams always know where they're headed, why they are headed there and when they are expected to arrive.</p>
                                <p>Happy teams know what is expected of them, what to expect from their team members and project sponsors and how each task contributes to the overall objective.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>6.</h1></td>
                            <td>
                                <h4>Dedication to Innovation</h4>
                                <p>Although the pace of change in Enterprise development tools (JEE, .NET and their ecosystems) is comfortable &amp; relatively steady, the rate of change in Web &amp; Mobile development has reached a point where many tools come into wide adoption and then are replaced by superior tools within 12 - 18 months.</p>
                                <p>While we are committed to developing projects using widely-adopted technologies that meet the needs of our clients, we actively encourage our team members to dedicate time to experimenting with new technologies, to blog about them, to contribute to or develop their own open-source projects and to share their experiences with their peers.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-xs-12">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-counter"><h1>7.</h1></td>
                            <td>
                                <h4>Honesty &amp; Integrity Above All Else</h4>
                                <p>In a highly competitive environment, it is easy for individuals and organizations to cut corners, to make exceptions or to act slightly unethically to get a client's signature on a contract, position themselves for a bonus or promotion, or recruit their newest employee.</p>
                                <p>All too frequently, organizations view ethics and honesty as a grey scale instead of black and white, through the lens of what is and is not legal or what they can or cannot get away with.</p>
                                <p>We expect every member of our staff to be a beacon to their team, our company to to our clients and that any time we cut a corner, use wiggle words, exaggerate our capabilities or do anything else that is even slightly unethical, they will all take note.</p>
                                <p><a href="http://en.wikiquote.org/wiki/Christian_Nestell_Bovee">"The first step toward greatness is to be honest, says the proverb; but the proverb fails to state the case strong enough. Honesty is not only the first step toward greatness — it is greatness itself."</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>