<div class="col-xs-3 col-md-2">
    <i class="fa fa-fw fa-lightbulb-o fa-4x pull-right"></i>
</div>
<div class="col-xs-8">
    <h2>Startup Support &amp; Concept Development</h2>
    <p>Whether you represent an existing enterprise or are trying to start up a new company, we're here to help.</p>
    <p>Our team has years of experience in the development and commercialization of new products, both within large pre-existing enterprises and with companies that are just starting up.</p>
    <p>Let us help you understand the technical and logistical challenges you may encounter in trying to bring a product to life, develop a working prototype or turn an existing prototype into a marketable finished product.</p>
</div>