<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-cogs fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>Web &amp; Application Development</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10 col-sm-12">
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-flask"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Prototyping &amp; Validation</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-mobile"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Mobile App Development</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-laptop"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Web Design &amp; Development</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-magic"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Application Modernization</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-tasks"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Lean, Agile Processes</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-fighter-jet fa-rotate-45-ccw"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Engineering Discipline</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-plug"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Support on Your Terms</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-cloud"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Hosting How You'd Like</div>
                                <div class="bullet-body">
                                    This is supposed to be the body.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>