<div class="row section-header">
    <div class="col-xs-3 col-md-2">
        <i class="fa fa-fw fa-cogs fa-4x pull-right"></i>
    </div>
    <div class="col-xs-8">
        <h2>Web &amp; Application Development</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10 col-sm-12">
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-flask"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Prototyping &amp; Validation</div>
                                <div class="bullet-body">
                                    <p>We love tackling problems &amp; bringing solutions to life. Our team has years of experience in building working, fully integrated prototypes and has developed strategies for prototyping new features on existing products that don't mess with the original systems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-mobile"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Mobile App Development</div>
                                <div class="bullet-body">
                                    <p>Need to build a cross-platform mobile presence?</p>
                                    <p>Leveraging the latest tools for Android, Apple and Windows Mobile devices, our team will work with you to bring a new product to life on mobile, or to develop a mobile solution for an existing application.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-laptop"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Web Design &amp; Development</div>
                                <div class="bullet-body">
                                    <p>More &amp; more frequently, an organization's web site is itself becoming a full-featured application.</p>
                                    <p>Let us help bring the services your organization offers online to reach more clients more easily.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-magic"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Application Modernization</div>
                                <div class="bullet-body">
                                    <p>Many organizations, both large and small, have legacy systems that are difficult to support and make needed changes to.</p>
                                    <p>Our team has expertise in refactoring existing applications to leverage the strengths of existing functionality, while adding new features that are easily supported.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-tasks"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Lean, Agile Processes</div>
                                <div class="bullet-body">
                                    <p>Our team works directly with our clients in a rapid, collaborative &amp; iterative process that utilizes modern standards, but doesn't weigh projects down with unnecessary overhead.</p>
                                    <p>Working iteratively ensures that feedback can be quickly incorporated into the product &amp; minimizes the cost of changes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-fighter-jet fa-rotate-45-ccw"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Engineering Discipline</div>
                                <div class="bullet-body">
                                    <p>We believe in continuous delivery and continuous deployment.</p>
                                    <p>During a project, our clients have complete access to the latest testable, running version of the project, updated with every completed task.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-plug"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Support on Your Terms</div>
                                <div class="bullet-body">
                                    <p>We will support your organization at the level that you require, based on the expertise and talents of your existing staff.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="bullet-wrapper">
                    <div class="table">
                        <div class="table-row">
                            <div class="bullet-icon table-cell hidden-xs">
                                <i class="fa fa-fw fa-4x fa-cloud"></i>
                            </div>
                            <div class="table-cell">
                                <div class="bullet-title">Hosting How You'd Like</div>
                                <div class="bullet-body">
                                    <p>We offer solutions ranging from internally-facing applications hosted on pre-existing servers behind a corporate firewall to virtualized, cloud-based deployments distributed internationally for low latency access around the globe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>