<!DOCTYPE html>
{{ $firstPage := index .Data.Pages 0 }}
{{ $category := index $firstPage.Params.categories 0 }}
<html>
<head>
    <!-- This is where the head starts -->
    {{ template "partials/common/html-header.html" . }}
</head>
<body lang="en" class="body-gradient-{{ $category }}">
{{ template "partials/common/page-header.html" . }}
<div class="page-banner-table blog-banner-table">
    <div class="page-banner-row">
        <div class="page-banner-cell">
            <img class="page-banner-image" src="/images/blog-all.jpg" />
        </div>
    </div>
</div>
<div class="container-fluid single-post-wrapper">
    <div class="row button-section">
        <table class="hidden-sm hidden-xs button-table" cellspacing="0" cellpadding="0">
            <tr>
                <td><a href="/categories/launchcode/" class="centre"><img class="category-button" src="/images/blog-launchcode-btn.jpg" /></a></td>
                <td><a href="/categories/process/" class="center"><img class="category-button" src="/images/blog-process-btn.jpg" /></a></td>
                <td><a href="/categories/team/" class="centre"><img class="category-button" src="/images/blog-team-btn.jpg" /></a></td>
                <td><a href="/categories/tech/" class="centre"><img class="category-button" src="/images/blog-tech-btn.jpg" /></a></td>
                <td><a href="/categories/gotcha/" class="centre"><img class="category-button" src="/images/blog-gotcha-btn.jpg" /></a></td>
            </tr>
        </table>
        <table class="hidden-lg hidden-md button-table" cellspacing="0" cellpadding="0">
            <tr>
                <td><a href="/categories/launchcode/" class="centre"><img class="category-button" src="/images/blog-launchcode-btn.jpg" /></a></td>
                <td><a href="/categories/process/" class="center"><img class="category-button" src="/images/blog-process-btn.jpg" /></a></td>
            </tr>
        </table>
        <table class="hidden-lg hidden-md button-table" cellspacing="0" cellpadding="0">
            <tr>
                <td><a href="/categories/team/" class="centre"><img class="category-button" src="/images/blog-team-btn.jpg" /></a></td>
                <td><a href="/categories/tech/" class="centre"><img class="category-button" src="/images/blog-tech-btn.jpg" /></a></td>
                <td><a href="/categories/gotcha/" class="centre"><img class="category-button" src="/images/blog-gotcha-btn.jpg" /></a></td>
            </tr>
        </table>
    </div>
    <div class="row section section1">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <p>We believe in sharing our experiences, successes and failures with each other and with the wider world. Select a category above, or a recent post below. <a class="hand" onclick="twitterFollow('launchcode5');">Follow us on Twitter</a> to never miss a post.</p>
        </div>
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-xs-12"><h1>Recent Posts</h1></div>
            <div class="col-xs-12 ">
                    <div class="posts">
                        {{ range .Data.Pages.ByDate.Reverse }}
                        {{ template "partials/common/post-summary-tile.html" . }}
                        {{ end }}
                    </div>
            </div>
        </div>
    </div>
</div>
{{ template "partials/common/footer.html" . }}
</body>
</html>