<!DOCTYPE html>
{{ $category := index .Params.categories 0 }}
<html>
    <head>
        <!-- This is where the head starts -->
        {{ template "partials/html-header.html" . }}
    </head>
    <body lang="en" class="body-gradient-{{ $category }}">
    {{ template "partials/page-header.html" . }}
        <div class="container-fluid single-post-wrapper">
            <div class="row">
                <div class="category-table">
                    <div class="table-row">
                        <div class="table-cell">
                            <img class="circuit-left" src="/images/circuitboard.png" />
                        </div>
                        <div class="table-cell blog-descriptor text-right hidden-sm hidden-xs">
                            <div class="dotted-border">Launchcode presents...</div>
                        </div>
                        <div class="table-cell blog-title">
                            <svg class="title-svg" viewBox="0 0 164 110">
                                <ellipse cx="82" cy="55" rx="80" ry="55" stroke="black" stroke-width="3" fill="black" />
                                {{ if eq $category "launchcode" }}
                                <text x="23" y="70" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Thrive</text>
                                {{ end }}
                                {{ if eq $category "gotcha" }}
                                <text x="30" y="66" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Gotcha</text>
                                {{ end }}
                                {{ if eq $category "tech" }}
                                    <text x="32" y="70" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Evolve</text>
                                {{ end }}
                                {{ if eq $category "process" }}
                                <text x="24" y="70" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Emerge</text>
                                {{ end }}
                                {{ if eq $category "team" }}
                                <text x="12" y="68" class="tk-youngblood" style="font-size: 34pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Collaborate</text>
                                {{ end }}
                            </svg>
                        </div>
                        <div class="table-cell blog-descriptor text-left">
                            <div class="dotted-border">
                                {{ if eq $category "launchcode" }}A Launchcode News Blog{{ end }}
                                {{ if eq $category "gotcha" }}A Quick Solutions Blog{{ end }}
                                {{ if eq $category "tech" }}A Technology Blog{{ end }}
                                {{ if eq $category "process" }}A Management &amp; Process Blog{{ end }}
                                {{ if eq $category "team" }}A Teamwork &amp; Leadership Blog{{ end }}
                            </div>
                        </div>
                        <div class="table-cell">
                            <img class="circuit-right" src="/images/circuitboard.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row single-post-row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12 article-body {{ $category }}">
                    <div class="col-sm-2 hidden-xs">
                        {{ template "partials/authors/author-mid.html" . }}
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="post-title">
                            {{ $date := .Date.Format "Jan 2, 2006"}}
                            <div class="post-date">{{ upper $date }}</div>
                            <h1>{{ .Title }}</h1>
                            <div class="tags">
                                {{ range $tag := .Params.tags}}
                                    <span class="tag"><a href="/tags/{{ lower .}}/">{{ . }}</a></span>
                                {{ end }}
                            </div>
                            <div class="post-comment-count">
                                <i class="fa fa-comments"></i>
                                <a href="{{ .Permalink }}/#disqus_thread" data-disqus-identifier="{{ .Params.disqusid }}">View Comments</a>
                                {{ template "partials/3rd-party-scripts/share.html" . }}
                            </div>
                        </div>
                        <div class="next-prev-navigation">
                            {{ if .Prev }}<div>{{.Prev.Title}}</div>{{ end }}
                            {{ if .Next }}<div>{{.Next.Title}}</div>{{ end }}
                        </div>
                        <div class="post">
                            {{ .Content }}
                        </div>
                        {{ template "partials/3rd-party-scripts/disqus.html" . }}
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <h4>Our Blogs</h4>
                        <div class="blog-link">
                            <a href="/categories/launchcode/">
                            <svg class="title-svg" viewBox="0 0 164 65">
                                <text x="5" y="40" class="tk-youngblood" style="font-size: 32pt; fill: #757575 !important;">Thrive</text>
                                <text x="5" y="55" class="tk-freight-sans-pro" style="font-size: 10pt; fill: #545454; text-transform: uppercase;">Launchcode News</text>
                            </svg>
                            </a>
                        </div>
                        <div class="blog-link">
                            <a href="/categories/gotcha">
                            <svg class="title-svg" viewBox="0 0 164 65">
                                <text x="12" y="40" class="tk-youngblood" style="font-size: 32pt; fill: #757575 !important;">Gotcha</text>
                                <text x="5" y="55" class="tk-freight-sans-pro" style="font-size: 10pt; fill: #545454; text-transform: uppercase;">Quick Solutions</text>
                            </svg>
                            </a>
                        </div>
                        <div class="blog-link">
                            <a href="/categories/tech">
                            <svg class="title-svg" viewBox="0 0 164 65">
                                <text x="5" y="40" class="tk-youngblood" style="font-size: 32pt; fill: #757575 !important;">Evolve</text>
                                <text x="5" y="55" class="tk-freight-sans-pro" style="font-size: 10pt; fill: #545454; text-transform: uppercase;">Design &amp; Development</text>
                            </svg>
                            </a>
                        </div>
                        <div class="blog-link">
                            <a href="#/categories/process" onclick="noArticles();">
                            <svg class="title-svg" viewBox="0 0 164 65">
                                <text x="5" y="40" class="tk-youngblood" style="font-size: 32pt; fill: #757575 !important;">Emerge</text>
                                <text x="5" y="55" class="tk-freight-sans-pro" style="font-size: 10pt; fill: #545454; text-transform: uppercase;">Business &amp; Process</text>
                            </svg>
                            </a>
                        </div>
                        <div class="blog-link">
                            <a href="#/categories/team" onclick="noArticles()">
                            <svg class="title-svg" viewBox="0 0 164 65">
                                <text x="5" y="40" class="tk-youngblood" style="font-size: 32pt; fill: #757575 !important;">Collaborate</text>
                                <text x="5" y="55" class="tk-freight-sans-pro" style="font-size: 10pt; fill: #545454; text-transform: uppercase;">Team Management</text>
                            </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 hire-us-banner">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell rocket-cell">
                                    {{ $rocketSize := "200px" }}
                                    {{ template "partials/rocket.html" $rocketSize }}
                                </div>
                                <div class="table-cell text-cell">
                                    <div class="banner-text">We'll build the software<br />that builds your business.</div>
                                    <div class="banner-button"><a class="btn btn-primary" href="#contactModal" data-toggle="modal" data-target="#contactModal">Hire Us</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {{ template "partials/footer.html" . }}
    </body>
</html>