<!DOCTYPE html>
{{ $category := index .Params.categories 0 }}
<html>
    <head>
        <!-- This is where the head starts -->
        {{ template "partials/html-header.html" . }}
    </head>
    <body lang="en" class="body-gradient-{{ $category }}">
    {{ template "partials/page-header.html" . }}
        <div class="container-fluid single-post-wrapper">
            <div class="row">
                <div class="category-table">
                    <div class="table-row">
                        <div class="table-cell">
                            <img class="circuit-left" src="/images/circuitboard.png" />
                        </div>
                        <div class="table-cell blog-descriptor text-right hidden-sm hidden-xs">
                            <div class="dotted-border">Launchcode5 presents...</div>
                        </div>
                        <div class="table-cell blog-title">
                            <svg class="title-svg" viewBox="0 0 150 150">
                                <circle cx="75" cy="75" r="70" stroke="black" stroke-width="3" fill="black" />
                                {{ if eq $category "launchcode" }}
                                <text x="17" y="90" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Thrive</text>
                                {{ end }}
                                {{ if eq $category "tech" }}
                                    <text x="25" y="90" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Evolve</text>
                                {{ end }}
                                {{ if eq $category "process" }}
                                <text x="18" y="86" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Emerge</text>
                                {{ end }}
                                {{ if eq $category "team" }}
                                <text x="25" y="90" class="tk-youngblood" style="font-size: 42pt; fill: #E0E0E0 !important; text-shadow: 2px 2px rgba(15, 15, 15, 0.25);">Collaborate</text>
                                {{ end }}
                            </svg>
                        </div>
                        <div class="table-cell blog-descriptor text-left hidden-xs">
                            <div class="dotted-border">
                                {{ if eq $category "launchcode" }}A Launchcode News Blog{{ end }}
                                {{ if eq $category "tech" }}A Technology Blog{{ end }}
                                {{ if eq $category "process" }}A Management &amp; Process Blog{{ end }}
                                {{ if eq $category "team" }}A Teamwork &amp; Leadership Blog{{ end }}
                            </div>
                        </div>
                        <div class="table-cell">
                            <img class="circuit-right" src="/images/circuitboard.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 article-body {{ $category }}">
                    <div class="col-xs-2">
                        <div class="single-post-author-pic">
                            <img class="author-pic" src="/images/contributors/{{ .Params.author}}.png" />
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="post-title">
                            <h1>{{ .Title }}</h1>
                        </div>
                        <div class="post">
                            {{ .Content }}
                        </div>
                        {{ template "partials/disqus.html" . }}
                    </div>
                </div>
            </div>
        </div>
        {{ template "partials/footer.html" . }}
    </body>
</html>