<div class="col-xs-12 hire-us-banner banner-rocket">
    <div class="table">
        <div class="table-row">
            <div class="table-cell rocket-cell hidden-xs">
                {{ $rocketSize := "200px" }}
                {{ template "partials/rocket.html" $rocketSize }}
            </div>
            <div class="table-cell text-cell">
                <div class="banner-text">We'll build the software<br />that builds your business.</div>
                <div class="banner-button"><a class="btn btn-primary" href="#contactModal" data-toggle="modal" data-target="#contactModal">Hire Us</a></div>
            </div>
        </div>
    </div>
</div>