.banner-rocket .rocketInner {
  transform: translateY(3px);
  transition: .3s;
  color: rgba(72, 103, 117, 1.0);
}

.banner-rocket .iconCircle {
  transition: .2s;
  fill: #22303e;
  background: #22303e;
}

.banner-rocket .rocketSvg
{
  transform: rotate(40deg);
}

.banner-rocket .rocketBase {
  fill: #FFFFFF !important;
  stroke-width: 0px !important;
}

.banner-rocket .rocketShadow {
  fill: #EDEDED !important;
  stroke-width: 0px !important;
}

.banner-rocket .iconCircle {
  fill: #282e3a !important;
  stroke: #fff !important;
  stroke-width: 5px !important;
}
.banner-rocket .smallWindowPath {
  fill: #28B767 !important;
  stroke-width: 0px !important;
}

.banner-rocket .wingBase {
  fill: #E16E36 !important;
  stroke-width: 0px !important;
}

.banner-rocket .rocketShadow {
  fill: #EDEDED !important;
}

.banner-rocket .rocketMain {
  fill: #FFFFFF !important;
}

.banner-rocket .wingShadow
{
  display: block !important;
  fill:#336699 !important;
}

.banner-rocket .wing{
  display: block !important;
  fill: #698EB8 !important;
}

.banner-rocket.windows .largeWindow > circle,
.banner-rocket .windows .smallWindow > circle{
  fill: #AAA9A9 !important;
}

.banner-rocket .windows .largeWindow > ellipse,
.banner-rocket .windows .largeWindow > ellipse {
  fill: #CCCCCC !important;
}

/*=============================================
[ Animation Classes ]
==============================================*/

.banner-rocket .fire {
  display: none;
  animation-delay: 0s;
  fill-opacity: 1;
  animation-timing-function: ease-in;
  stroke-width: 0px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  animation-direction: normal;
}

.banner-rocket .fireLeft{
  display: block;
  animation-delay: 0s;
  animation-name: fireLeft, fillOpacity1;
  animation-duration: 1.2s;
}

.banner-rocket .fireMiddle {
  display: block;
  animation-delay: 0s;
  animation-name: fireMiddle, fillOpacity1;
  animation-duration: 1s;
}

.banner-rocket .fireRight {
  display: block;
  animation-delay: 0s;
  animation-name: fireRight, fillOpacity1;
  animation-duration: 1.3s;
}

.banner-rocket .fireSmallLeft {
  display: block;
  animation-delay: 0s;
  animation-name: fireSmall, fillOpacity2;
  animation-duration: 1.3s;
  transform-origin: bottom;
}

.banner-rocket .fireSmallRight {
  display: block;
  animation-delay: 0.3s;
  animation-name: fireSmall, fillOpacity3;
  animation-duration: 1.6s;
  transform-origin: bottom;
}
