<div class="side-banner banner-rocket">
    <div class="table" style="background-color: transparent;">
        <div class="table-row">
            <div class="table-cell">
                {{ $rocketSize := "120px" }}
                {{ template "partials/rocket.html" $rocketSize }}
            </div>
        </div>
        <div class="table-row" style="border: none; padding-top: 50px;">
            <div class="table-cell text-cell" style="border: none;">
                <div class="banner-text" style="margin-top: 50px;">Let's Build Your Business</div>
                <div class="banner-button"><a class="btn btn-primary" href="#contactModal" data-toggle="modal" data-target="#contactModal">Get Started</a></div>
            </div>
        </div>
    </div>
</div>