div.blog-banner-table
{
  border-bottom: 2px solid darken($firstColour, 20);
}


div.single-post-wrapper {
  min-height: 1000px;

  figure {

    border: 2px solid rgba(#444444, 0.5);
    padding: 7px 7px;
    margin: 15px 15px;
    margin: 0 auto;
    max-width: 990px;
    max-height: 500px;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      h4 {
        font-size: 13px;
        text-align: right;
      }
    }
  }

  div.button-section {

    padding: 0;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;

    img.category-button {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }

    table.button-table {
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto;
      border-bottom: 2px solid darken($firstColour, 20);

      tr > td {
        width: 20%;
        opacity: 0.6;
        position: relative;
        &:hover {
          opacity: 1.0;
        }
      }
      td.selected {
        opacity: 1.0;
        &:before {
          position: absolute;
          left: 45%;
          top: 0;
          margin: 0 auto;
          border-top: 10px solid darken($firstColour, 20);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          box-sizing: border-box;
          content: "";
          width: 0;
          height: 0;
        }
      }

    }
  }

  div.blog-title {
    height: auto;
    width: 150px;
    margin: 15px auto;
    vertical-align: middle;
    z-index: 5;

    @media screen and (max-width: $break-small) {
      height: auto;
      width: 100px;
    }

    .title-svg {
      height: 150px;
      width: 150px;

      @media screen and (max-width: $break-small) {
        height: 100px;
        width: 100px;
        margin-left: 5px;
      }
    }
  }

  div.blog-link {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  div.post-title {
    padding: 0;

    h1 {
      margin: 15px 0 15px 0;
    }

    div.post-date {
      width: 75px;
      margin-right: 15px;
      float: left;
      margin-top: 5px;
      font-size: 9pt;
      border: 1px solid #888888;
      text-align: center;
      border-radius: 5px;

      div.year-month-block {
        background-color: #BB3333;
        color: black;
        margin: 0 0;
        padding: 2px 5px;
        width: 100%;
        height: 18px;
        .year {
          padding-right: 5px;
          float: right;
        }
        .month {
          padding-left: 5px;
          float: left;
        }
      }

      div.day-block {
        .day-of-week {
          color: #999999;
        }
        .day {
          font-size: 15pt;
        }
      }

    }
  }

  div.post-content {
    margin-top: 25px;
    margin-bottom: 25px;

    h1, h2, h3, h4, h5, h6, p {
      line-height: 1.45;
    }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.65em;
    }
    h4 {
      font-size: 1.25em;
    }
  }
    div.category-table {
      display: table;
      width: 100%;
      padding-top: 55px;

      div.table-row {
        display: table-row;

        div.table-cell {
          display: table-cell;
          position: relative;
          vertical-align: middle;

          &.blog-descriptor {
            width: 290px;
            font-size: 12pt;
            vertical-align: middle;
            margin: 0 auto;
            z-index: 5;

            div.dotted-border {
              width: 290px;
              border-top: 1px solid rgba(#000000, 0.5);
              border-bottom: 1px solid rgba(#000000, 0.5);
              padding: 5px 5px;
              text-align: center;
              text-transform: uppercase;
              font-weight: 200;

              @media screen and (max-width: $break-small) {
                margin-right: 5px;
              }
            }
          }

          .circuit-left {
            position: absolute;
            height: 100%;
            width: auto;
            left: 0;
            top: 0;
            z-index: 5;
          }

          .circuit-right {
            position: absolute;
            height: 100%;
            width: auto;
            right: 0;
            top: 0;
            z-index: 5;
            transform: rotate(180deg);
          }

          &.left {
            text-align: left;
          }

          &.right {
            text-align: right;
          }
        }
      }
    }

    img.category-image {
      border-radius: 50px 50px;
    }

    div.next-prev-navigation {

      position: relative;
      width: 100%;
      margin-top: 40px;
      padding-bottom: 40px;
      padding-top: 40px;
      border-top: 2px solid #dddddd;

      div.prev-box {

        div.prev {
          font-size: 15pt;
        }

        div > a {

        }
      }

      div.next-box {

        div.next {
          font-size: 15pt;
        }

        div > a {

        }
      }
    }

    div.single-post-row {
      padding-top: 15px;
      margin-bottom: 10px;
      margin-top: 15px;

      div.social-table {
        table-layout: fixed;
        margin-top: 25px;
        overflow: hidden;
        display: table;
        width: 100%;

        div.table-row {
          display: table-row;

          div.table-cell {
            display: table-cell;
          }
        }
      }
    }

    div.article-body {
      margin-top: 10px !important;
      background-color: #FFFFFD;
      border-radius: 10px;

    }
  }

