<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <title>{{ .Site.Title }} &middot; {{ .Title }}</title>
    <!-- This is where the head starts -->
    {{ template "partials/common/html-header.html" . }}
</head>
<body lang="en">
{{ template "partials/common/page-header.html" . }}
<div class="page-banner-table">
    <div class="page-banner-row">
        <div class="page-banner-cell">
            <img class="page-banner-image" src="/images/banner-{{ .Params.page }}.jpg" />
        </div>
    </div>
</div>
<div class="container-fluid">
    {{ if eq .Params.page "about" }}
        {{ template "partials/pages/about.html" . }}
    {{ end }}
    {{ if eq .Params.page "services" }}
        {{ template "partials/pages/services.html" . }}
    {{ end }}
</div>
{{ template "partials/common/footer.html" }}
</body>
</html>