    <div class="row button-section" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12">
            <div class="col-sm-3 col-xs-6 centre">
                <a href="/about/#mission" class="centre">Our Mission</a>
            </div>
            <div class="col-sm-3 col-xs-6 centre">
                <a href="/about/#success" class="centre">How We Succeed</a>
            </div>
            <div class="col-sm-3 col-xs-6 centre">
                <a href="/about/#delivery" class="centre">How We Deliver</a>
            </div>
            <div class="col-sm-3 col-xs-6 centre">
                <a href="/about/#principles" class="center">Our Principles</a>
            </div>
        </div>
    </div>
    <div class="anchor" id="mission"></div>
    <div class="row section section1">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="limited-section-width">
                <h1 style="text-align: center;">Our Mission</h1>
                <p>To contribute software to our clients and the world that addresses issues affecting quality of life, social and economic justice. We encourage our team and our partners to actively:</p>
                <div class="col-md-12">
                    <div class="col-md-4 hidden-sm hidden-xs">
                        image
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        image
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        image
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div style="float:left;" class="hidden-lg hidden-md">image</div>
                        <div style="float:right;"><p class="centre">Advocate for projects that can assist vulnerable or disadvantaged populations.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div style="float:left;" class="hidden-lg hidden-md">image</div>
                        <div style="float:right;"><p class="centre">Champion software, design and management excellence.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div style="float:left;" class="hidden-lg hidden-md">image</div>
                        <div style="float:right;"><p class="centre">Share their experiences, expertise, sucesses and failures.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="anchor" id="success"></div>
    <div class="row section section2">
        <div class="limited-section-width">
        <h1 style="text-align: center;">How We Succeed</h1>
        <p></p>
        </div>
    </div>
    <div class="anchor" id="delivery"></div>
    <div class="row section section3">
        <div class="limited-section-width">
        <h1 style="text-align: center;">How We Deliver</h1>
        <p></p>
        </div>
    </div>
    <div class="anchor" id="principles"></div>
    <div class="row section section4">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="limited-section-width">
                <h1 style="text-align: center;">Our Culture &amp; Principles</h1>
                <p>Clear principles help our clients understand us and foster those values in our staff. Every decision we make is filtered through this set of principles:</p>
                  <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>1.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Each Milestone Must Deliver Value</h4>
                                    <p class="bullet-text">Every step of a project must deliver meaningful business value and projects must be structured such that, if cut short or cancelled, they still provide real business value to the client.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>2.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Quality Over Growth</h4>
                                    <p class="bullet-text">Launchcode will be better served by delivering quality to satisfied customers than by jeopardizing current projects or relationships in order to take on the next big thing.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>3.</h3></td>
                                <td>
                                    <h4 class="bullet-title">The Team is Family</h4>
                                    <p class="bullet-text">We think for ourselves, speak our minds, say what needs to be said and help mentor each other.</p>
                                    <p class="bullet-text">We help each other master our respective crafts, actively promote &amp; celebrate each other's accomplishments and prepare each other for future endeavours and challenges.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>4.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Clients are a Part of the Team</h4>
                                    <p class="bullet-text">Every project is a fluid undertaking that must be flexible enough to take advantage of new-found opportunities or to adapt to a changing business environment.</p>
                                    <p class="bullet-text">To ensure nimble decision-making, clients must be kept up-to-date through regular consultations &amp; demonstrations.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>5.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Expectations &amp; Drivers Must be Clear</h4>
                                    <p class="bullet-text">Understanding empowers team members to make intelligent design &amp; development decisions.</p>
                                    <p class="bullet-text">Who? What? When? Where? and Why? Every team member should be able to answer these questions when starting a task.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>6.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Dedication to Innovation</h4>
                                    <p class="bullet-text">We dedicate time to experimenting with new technologies, to blog about them, to contribute to the open-source community and to share our experiences with our peers.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>7.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Honesty &amp; Integrity Above All Else</h4>
                                    <p class="bullet-text">We expect every member of our staff to be a beacon to their team, our company and our clients. We believe that any time we cut a corner, use wiggle words, exaggerate our capabilities or do anything else even slightly unethical it undermines our integrity.</p>
                                    <p class="bullet-text"><a class="bullet-link" href="http://en.wikiquote.org/wiki/Christian_Nestell_Bovee">"The first step toward greatness is to be honest, says the proverb; but the proverb fails to state the case strong enough. Honesty is not only the first step toward greatness — it is greatness itself."</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
