    <div class="row button-section" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12">
            <div class="col-sm-4 col-xs-4 centre">
                <a href="/about/#mission" class="centre">Our Mission</a>
            </div>
            <!--<div class="col-sm-3 col-xs-6 centre">
                <a href="/about/#success" class="centre">How We Succeed</a>
            </div> -->
            <div class="col-sm-4 col-xs-4 centre">
                <a href="/about/#delivery" class="centre">How We Deliver</a>
            </div>
            <div class="col-sm-4 col-xs-4 centre">
                <a href="/about/#principles" class="center">Our Principles</a>
            </div>
        </div>
    </div>
    <div class="anchor" id="mission"></div>
    <div class="row section section1">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="limited-section-width">
                <h1 style="text-align: center;">Our Mission</h1>
                <p>To contribute software to our clients and the world that addresses issues affecting quality of life, social and economic justice. We encourage our team and our partners to actively:</p>
                <div class="col-md-12">
                    <div class="col-md-4 hidden-sm hidden-xs pillar-image-wrapper">
                        <img src="/images/about-advocate.png" class="pillar-image" />
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs pillar-image-wrapper">
                        <img src="/images/about-champion.png" class="pillar-image" />
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs pillar-image-wrapper">
                        <img src="/images/about-blog.png" class="pillar-image" />
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="hidden-lg hidden-md pillar-image-wrapper"><img src="/images/about-advocate.png" class="pillar-image" /></div>
                        <div><p class="centre">Advocate for projects that can assist vulnerable or disadvantaged populations.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="hidden-lg hidden-md pillar-image-wrapper"><img src="/images/about-champion.png" class="pillar-image" /></div>
                        <div><p class="centre">Champion software, design and management excellence.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="hidden-lg hidden-md pillar-image-wrapper"><img src="/images/about-blog.png" class="pillar-image" /></div>
                        <div><p class="centre">Share their experiences, expertise, sucesses and failures.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="anchor" id="success"></div>
    <div class="row section section2">
        <div class="limited-section-width">
        <h1 style="text-align: center;">How We Succeed</h1>
        <p></p>
        </div>
    </div>
    -->
    <div class="anchor" id="delivery"></div>
    <div class="row section section2">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="limited-section-width">
            <h1 style="text-align: center;">How We Do It</h1>
            <p>We practice Agile development methodology with a hard and fast rule: Each project is structured to create deliverables that have their own intrinsic business value. This allows you to walk away at any time with a working project and no further obligation to us.</p>
            <p>Each project is divided into an initial discovery phase and then a cycle of repeated steps (iterations) that produce a progressively refined product:</p>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>1.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Initial Discovery</h4>
                                    <p class="bullet-text">Working with you and your users (or potential users), we help you to clarify your product vision, bring to your attention opportunities for enhancement, and develop an understanding of the key drivers of your project.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>2.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Design and Estimation</h4>
                                    <p class="bullet-text">This step, and the following steps are each repeated for each iteration of the project.</p>
                                    <p class="bullet-text">With your assistance, tasks and features are prioritized and put into a work queue.</p>
                                    <p class="bullet-text">Our team breaks down the prioritized features and tasks into work items and estimates the effort for each and selects a subset of highest-priority tasks that can be completed within the timeframe of this iteration.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>3.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Development & Testing</h4>
                                    <p class="bullet-text">The team works through each task, developing integrated tests as a part of the process.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>4.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Regular Deployments</h4>
                                    <p class="bullet-text">Deployment of working versions of your project are completed regularly so that our team can gather user feedback and conduct testing on a continuous basis.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>5.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Client &amp; User Feedback</h4>
                                    <p class="bullet-text">At the completion of the iteration, user and product owner feedback are compiled, and we work with you to develop an updated list of priority tasks and features.</p>
                                    <p class="bullet-text">The next iteration then begins with Design and Estimation.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="anchor" id="principles"></div>
    <div class="row section section4">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <div class="limited-section-width">
                <h1 style="text-align: center;">Our Culture &amp; Principles</h1>
                <p>Clear principles help our clients understand us and foster those values in our staff. Every decision we make is filtered through this set of principles:</p>
                  <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>1.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Each Milestone Must Deliver Value</h4>
                                    <p class="bullet-text">Every step of a project must deliver meaningful business value and projects must be structured such that, if cut short or cancelled, they still provide real business value to the client.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>2.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Quality Over Growth</h4>
                                    <p class="bullet-text">Launchcode will be better served by delivering quality to satisfied customers than by jeopardizing current projects or relationships in order to take on the next big thing.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>3.</h3></td>
                                <td>
                                    <h4 class="bullet-title">The Team is Family</h4>
                                    <p class="bullet-text">We think for ourselves, speak our minds, say what needs to be said and help mentor each other.</p>
                                    <p class="bullet-text">We help each other master our respective crafts, actively promote &amp; celebrate each other's accomplishments and prepare each other for future endeavours and challenges.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>4.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Clients are a Part of the Team</h4>
                                    <p class="bullet-text">Every project is a fluid undertaking that must be flexible enough to take advantage of new-found opportunities or to adapt to a changing business environment.</p>
                                    <p class="bullet-text">To ensure nimble decision-making, clients must be kept up-to-date through regular consultations &amp; demonstrations.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>5.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Expectations &amp; Drivers Must be Clear</h4>
                                    <p class="bullet-text">Understanding empowers team members to make intelligent design &amp; development decisions.</p>
                                    <p class="bullet-text">Who? What? When? Where? and Why? Every team member should be able to answer these questions when starting a task.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>6.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Dedication to Innovation</h4>
                                    <p class="bullet-text">We dedicate time to experimenting with new technologies, to blog about them, to contribute to the open-source community and to share our experiences with our peers.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="clearfix hidden-xs"></div>
                <div class="col-xs-12 no-padding-small">
                    <div class="bullet-wrapper">
                        <table>
                            <tr>
                                <td class="bullet-counter"><h3>7.</h3></td>
                                <td>
                                    <h4 class="bullet-title">Honesty &amp; Integrity Above All Else</h4>
                                    <p class="bullet-text">We expect every member of our staff to be a beacon to their team, our company and our clients. We believe that any time we cut a corner, use wiggle words, exaggerate our capabilities or do anything else even slightly unethical it undermines our integrity.</p>
                                    <p class="bullet-text"><a class="bullet-link" href="http://en.wikiquote.org/wiki/Christian_Nestell_Bovee">"The first step toward greatness is to be honest, says the proverb; but the proverb fails to state the case strong enough. Honesty is not only the first step toward greatness — it is greatness itself."</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
