<div class="row button-section" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12">
        <div class="col-sm-3 col-xs-6 centre">
            <a href="/services/#better" class="centre">Get Better, Get Faster</a>
        </div>
        <div class="col-sm-3 col-xs-6 centre">
            <a href="/services/#consulting" class="centre">Consulting Services</a>
        </div>
        <div class="col-sm-3 col-xs-6 centre">
            <a href="/services/#appdev" class="centre">Web &amp; Application Development</a>
        </div>
        <div class="col-sm-3 col-xs-6 centre">
            <a href="/services/#startup" class="center">Startup Services</a>
        </div>
    </div>
</div>
<div class="anchor" id="better"></div>
<div class="row section section1">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div class="limited-section-width">
            <h1 style="text-align: center;">Get Better, Get Faster</h1>
            <p>Maybe you have good in-house development capabilities, but you'd like to be better. Perhaps you have an idea for a product or feature set but not the capacity build it.</p>
            <p>Launchcode can improve your in-house processes, take on development efforts and refresh difficult-to-support or poorly designed product to improve your productivity.</p>
            <p>We'll help you build out new technology or get your existing tech and team in shape so you can sustain a new pace of innovation.</p>
            <div class="centre"><a style="margin: 20px auto;" href="#contactModal" data-toggle="modal" data-target="#contactModal" class="btn btn-default">Let's Get Started</a></div>
        </div>
    </div>
</div>
<div class="anchor" id="consulting"></div>
<div class="row section section2">
    <div class="limited-section-width">
        <h1 style="text-align: center;">Consulting Services</h1>
        <div class="col-xs-3">
            <img class="image-fit-width" src="/images/services-consulting.png" />
        </div>
        <div class="col-xs-9">
            <p>Launchcode is pleased to offer consulting services in several areas, including:</p>
            <ul>
                <li>Application Architecture</li>
                <li>Application, Data and Network Security</li>
                <li>Code Auditing</li>
                <li>Process Reviews</li>
                <li>Team Structure</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div class="centre"><a style="margin: 20px auto;" href="#contactModal" data-toggle="modal" data-target="#contactModal" class="btn btn-default">How can we help you?</a></div>
        </div>
    </div>
</div>
<div class="anchor" id="appdev"></div>
<div class="row section section3">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div class="limited-section-width">
            <h1 style="text-align: center;">Web &amp; Application Development</h1>
            <p>We bring ideas to life at rates you can afford. Here are a few of the ways we do it:</p>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-flask"></i></td>
                            <td>
                                <h4 class="bullet-title">Prototyping &amp; Validation</h4>
                                <p class="bullet-text">We love bringing solutions to life. Our team has years of experience in building fully-functional, integrated prototypes. We've even got ways to prototype new features on existing products that don't mess with the original system.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-mobile"></i></td>
                            <td>
                                <h4 class="bullet-title">Mobile &amp; Web App Development</h4>
                                <p class="bullet-text">Need a cross-platform presence? Leveraging the latest tools, our team will bring your new product to life on mobile &amp; the web.</p>
                                <p class="bullet-text">Have us make the services your organization offers available instantly with a click/touch, on mobile &amp; right at your homepage.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-map-marker"></i></td>
                            <td>
                                <h4 class="bullet-title">North American Team</h4>
                                <p class="bullet-text">Our team is made up of seasoned professionals right here in Canada & the United States that are always ready to meet with you face-to-face.</p>
                                <p class="bullet-text">If you'd like to off-shore some of your development, we can work with trusted partners to create and manage the off-shore team.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-magic"></i></td>
                            <td>
                                <h4 class="bullet-title">Application Modernization</h4>
                                <p class="bullet-text">Many organizations have legacy systems that are difficult to support and modify.</p>
                                <p class="bullet-text">Our team is experienced in refactoring existing applications to radically improve their supportability and lifetime.</p>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-tasks"></i></td>
                            <td>
                                <h4 class="bullet-title">Lean, Agile Processes</h4>
                                <p class="bullet-text">We work in a rapid, collaborative &amp; iterative process that utilizes modern standards, but without unnecessary overhead.</p>
                                <p class="bullet-text">Working iteratively ensures feedback can be quickly incorporated with minimal impact on timelines or cost.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-fighter-jet fa-rotate-45-ccw"></i></td>
                            <td>
                                <h4 class="bullet-title">Engineering Discipline</h4>
                                <p class="bullet-text">We believe in continuous delivery and continuous deployment.</p>
                                <p class="bullet-text">During a project, our clients have complete access to the latest testable, running version of the project, updated with every completed task.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-plug"></i></td>
                            <td>
                                <h4 class="bullet-title">Support How You'd Like</h4>
                                <p class="bullet-text">We will support your organization at the level that you require, based on the expertise and talents of your existing staff.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-cloud"></i></td>
                            <td>
                                <h4 class="bullet-title">Hosting on Your Terms</h4>
                                <p class="bullet-text">We offer solutions ranging from hosting on servers behind a corporate firewall to distributed cloud-based deployments for low latency access around the globe.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="centre"><a style="margin: 20px auto;" href="#contactModal" data-toggle="modal" data-target="#contactModal" class="btn btn-default">Tell Us About Your Project</a></div>
        </div>
    </div>
</div>
<div class="anchor" id="startup"></div>
<div class="row section section4">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div class="limited-section-width">
            <h1 style="text-align: center;">Startup Services</h1>
            <p>Companies that are just starting up typically have small budgets and broad, evolving needs. Technical resources with skills spanning those needs are in high-demand and expensive.</p>
            <p>Before sinking capital or equity into a technical co-founder or team, find out how we can help. We offer a number of services directed specifically at start-ups:</p>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-lightbulb-o"></i></td>
                            <td>
                                <h4 class="bullet-title">Concept Development</h4>
                                <p class="bullet-text">We have years of experience in the development of new products for existing enterprises and start-ups.</p>
                                <p class="bullet-text">We'll help you understand the technical and logistical challenges you may encounter, develop a working prototype and turn a prototype into a finished product.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-cog"></i></td>
                            <td>
                                <h4 class="bullet-title">Operations &amp; Support</h4>
                                <p class="bullet-text">There's a lot more to a start-up than software development.</p>
                                <p class="bullet-text">We'll handle the set-up of interactive telephone services, corporate e-mail, online newsletters and a myriad of other startup needs using popular &amp; affordable services.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-dashboard"></i></td>
                            <td>
                                <h4 class="bullet-title">Rapid Prototyping</h4>
                                <p class="bullet-text">We're experts in prototyping!</p>
                                <p class="bullet-text">Whether you have a completely new product idea, or you're looking to test out new features for an existing application, we can get you testing your idea with users or clients quickly.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 no-padding-small">
                <div class="bullet-wrapper">
                    <table>
                        <tr>
                            <td class="bullet-icon"><i class="fa fa-fw fa-2x fa-users"></i></td>
                            <td>
                                <h4 class="bullet-title">Consulting &amp; Mentoring</h4>
                                <p class="bullet-text">We're happy to provide guidance and share our experiences with your staff.</p>
                                <p class="bullet-text">By retaining us for regular or occasional sessions, we can help your team validate their architecture, implement best-practices processes and identify issues that are difficult to see from inside.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="centre"><a style="margin: 20px auto;" href="#contactModal" data-toggle="modal" data-target="#contactModal" class="btn btn-default">Tell Us About Your Start-up</a></div>
        </div>
    </div>
</div>