
div.author-brief {
  position: absolute;
  bottom: -35px;
  width: 100%;
  transition: all 0.4s ease 0;
  padding-left: 15px;
  padding-right: 15px;

  div.table-row {
    position: relative;
    display: table-row;
    width: 100%;
  }

  div.post-author {
    display: table-cell;
    opacity: 0;
    transition: all 0.4s ease 0;
    width: 70%;

    .author {
      text-align: center;
    }

    .author-brief
    {
      color: lighten($darkColour, 30);
    }
  }
}

div.author-mid
{
  width: 100%;
  display: table;
  margin: 15px auto;

  div.table-row {
    display: table-row;
    position: relative;
    width: 100%;
  }

  div.author-mid-details {
    margin: 10px auto;
    text-align: center;
    display: table-cell;
    background-color: red;
    width: 30%;
    img.author-pic {
      width: 100px;
      height: auto;
      border-radius: 50%;
      border: 1px solid white;
    }

    h5.author-name {
      margin-top: 0;
      font-size: 12px;
      text-align: left;
      margin-bottom: 0;
    }

    p.author-role {
      margin-top: 3px;
      margin-left: auto;
      margin-right: auto;
      font-size: 10px;
      opacity: 0.7;
      font-style: italic;
      text-align: left;
    }
  }

  div.single-post-author-pic
  {
    width: 100%;
    text-align: center;
    margin-bottom: 0;

    img.author-pic {
      margin: 15px auto;
      width: 120px;
      height: auto;
      border-radius: 50%;
    }
  }


}