* {
  box-sizing: border-box;
  z-index: 1;
  vertical-align: baseline;
}

*, :after, :before {
  box-sizing: border-box;
}

div.no-padding-small {
  @media screen and (max-width: $break-small) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

body {
  height: 100%;
  color: #353535;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #FFFFFF;
  font-weight: 300;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.centre {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.page-container {
  margin: 0 0;
  margin-top: 60px;
}

a.hand:hover {
  cursor: pointer;
}

a.no-decoration
{
  color: inherit;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

div.cutout-surround {

  border-top: 6px solid $firstColour;
  background-color: white;
  margin: 0px 0px;
  position: relative;
  z-index: 100;
  width: 100%;

  div.cutout-image-wrapper {
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 20px 20px;
    position: relative;
    top: -131px;
    margin: 0 15%;
    border: 6px solid $firstColour;
    border-radius: 125px 125px;

    div.border-bottom-overlay {
      overflow: visible;
      width: 262px;
      height: 262px;
      position: absolute;
      left: -6px;
      top: 125px;
      height: 128px;
      background-color: white;
      border: 6px solid white;
      z-index: -10;
    }

    img {
      width: 216px;
      height: auto;
      margin: 0 auto;
      z-index: 5;
    }
  }
}

div.tags {

  margin: 5px 0px;

  .tag{
    font-size: 8pt;
    white-space:nowrap;
    position:relative;
    margin:0 5px 0 10px;
    displaY:inline-block;
    height:25px;
    border-radius: 0 5px 5px 0;
    padding: 0 25px 0 15px;
    background:#E8EDF0;
    border: 1px solid #C7D2D4;
    color:#999;
    line-height:23px;

    a:hover {
      text-decoration: none;
    }
  }
  .tag:after{
    position:absolute;
    right:0;
    margin: 1px 0px;
    content:"";
  }
  .tag:before{
    position:absolute;
    background:#E8EDF0;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #aaa;
    font-size:12px;
    line-height:13px;
    text-indent:6px;
    top:3px;
    left:-10px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-left:1px solid #C7D2D4;
    border-bottom:1px solid #C7D2D4;
  }
}

div.blog-description
{
  font-size: 12px;
  padding-top: 0;
  margin-top: 0;
  padding-left: 15px;
}

.fa-rotate-45-cw
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-45-ccw
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.table {
  display: table;

  .table-row {
    display: table-row;
    border: thin solid blue;


    .table-cell {
      display: table-cell;
      vertical-align: top;

      &.middle
      {
        vertical-align: middle;
      }

      &.right {
        text-align: right
      }

      &.left {
        text-align: left;
      }
    }
  }

}

.row.section {

  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (max-width: $break-small) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a.btn
  {
    margin-top: 25px;
  }

  h1 {

    font-size: 36px;

    @media screen and (max-width: $break-small) {
      font-size: 20px;
    }

  }

  div.limited-section-width
  {
    max-width: 1000px;
    margin: 0 auto;
  }

  p {
    margin: 10px auto;
    max-width: 1000px;
    font-size: 20px;

    @media screen and (max-width: $break-small) {
      font-size: 14px;
    }
  }

  img.bordered-circle
  {
    border: 8px solid $logoColour;
    border-radius: 50%;
    margin-top: 20%;
  }

  &.section1 {
    background-color: #FFFFFF;
  }

  &.section2 {
    background-color: rgba($firstColour, 0.2);

  }

  &.section3 {
    background-color: #FFFFFF;

  }

  &.section4 {
    background-color: rgba($secondColour, 0.2);
    /* background-color: rgba($fourthColour, 0.2); */
  }

}

.anchor
{
  display: block; position: relative; top: -50px; visibility: hidden;
}

div.modal-dialog
{
  width: 90%;
  max-width: 800px;
  color: rgba(#FFFFFD, 0.8);

  &.wychmodal
  {
    div.modal-content {
      top: 20px;
      box-shadow: none !important;
      background-color: transparent !important;
      border: solid transparent none !important;
      border-radius: none !important;

      .close {
        color: rgba(#FFFFFD, 0.8);
      }

      .note
      {
        padding-top: 2px;
        font-size: 11px;
        font-weight: normal;
        color: lighten($firstColour, 15);
      }

      .required-note
      {
        font-size: 12px;
      }
    }
  }

}


div.section
{
  padding-top: 0px;
  padding-bottom: 15px;
  min-height: 75px;

  .section-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h2 {
    padding-top: 0px;
    margin-top: 10px;
  }

  p {
    font-size: 15px;
  }
}

.navbar {
    border-radius: 0 !important;

    &.launchcode-nav
    {
      position: fixed;
      width: 100%;
      background-color: rgba(#FFFFFF, 0.80);
      z-index: 50;
      transition: 1.0s;
      transition-timing-function: linear;
    }

    &.launchcode-nav:hover
    {
      background-color: rgba(#FFFFFF, 1.0);
      transition-timing-function: linear;
    }
}

.nav > li > a
{
  padding: 10px 10px;
  padding-top: 15px;
}

.navbar-default .navbar-brand
{
    color: #000000;
    padding-top: 13px;
}

.navbar-default a.navbar-brand:hover
{
    color: #333333;
}

.navbar-default {
    border: none;
    border-bottom: 1px solid $firstColour;
    color: #000000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba($fourthColour, 0.8);
    color: #F0FFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
    /* text-shadow: 2px 2px rgba(50,50,50, 0.5); */
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333333;
}

.navbar .form-control {
    background-color: #DDDDCC;
}

.navbar .btn-default {
    background-color: #BBBBAA;
}

.bullet-wrapper
{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-top: 2px solid rgba(#CCCCCC, 0.3);
  border-right: 2px solid rgba(#CCCCCC, 0.3);
  background-color: rgba(#FFFFFF, 0.2);

  @media screen and (max-width: $break-small) {
    border-right: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

  }

  a.bullet-link {
    color: darken($logoColour, 15);
    &:hover
    {
      text-decoration: none;
    }
  }


  h4.bullet-title
  {
    font-size: 20px;
    @media screen and (max-width: $break-small) {
      font-size: 16px;
    }

  }

  p.bullet-text {
    font-size: 16px;
    padding-right: 10px;

    @media screen and (max-width: $break-small) {
      font-size: 14px;
    }

  }

  td.bullet-counter {
    vertical-align: top;
    padding: 0px 10px;
    margin-top: 0px;

    @media screen and (max-width: $break-small) {
      padding-left: 0;
    }

    h3 {
      margin-top: 10px;
      font-size: 20px;
      @media screen and (max-width: $break-small) {
        font-size: 13px;
        padding-left: 0;
      }
    }
  }
}

div.consult-wrapper
{
  background-color: rgba(#FFFFFD, 0.6);
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  border-top: 6px solid $fourthColour;

  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px 2px #888;
  padding: 15px 15px;

  @media screen and (max-width: $break-small) {
    box-shadow: 1px 1px 1px 1px #888;
  }

  p
  {
    font-size: 16px;
  }
}