* {
  box-sizing: border-box;
  z-index: 1;
}

body {
  color: #000;
}

a.no-decoration
{
  color: inherit;
  text-decoration: none;
}

.fa-rotate-45-cw
{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-45-ccw
{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.table {
  display: table;

  .table-row {
    display: table-row;
    border: thin solid blue;


    .table-cell {
      display: table-cell;
      vertical-align: top;
    }
  }

}

.first {
  background-color: $firstColour;
}

.second {
  background-color: $secondColour;
}

.third {
  background-color: $thirdColour;
}

.fourth {
  background-color: $fourthColour;
}

.firstGradient {
  @include gradient($firstColour, darken($firstColour, 10));
}

.secondGradient {
  @include gradient($secondColour, darken($secondColour, 10));
}

.thirdGradient {
  @include gradient($thirdColour, darken($thirdColour, 10));
}

.fourthGradient {
  @include gradient(lighten($fourthColour, 20), lighten($fourthColour, 10));
}

.section.firstGradient {

  background: url(/images/css/pattern1.png) repeat;

  .section-header {
      @include gradient(rgba(darken($firstColour, 10), 0.8), rgba(darken($firstColour, 25), 0.8));
      color: darken($firstColour, 60);
      box-shadow: 0px 2px 2px 2px rgba(#111111, 0.5);
      border-top: 1px solid black;
      border-bottom: solid 1px black;
  }
}

.section.secondGradient {

  background: url(/images/css/pattern2.png) repeat;

  .section-header {
    @include gradient(rgba(darken($secondColour, 10), 0.8), rgba(darken($secondColour, 25), 0.8));
    color: darken($secondColour, 60);
    box-shadow: 0px 2px 2px 2px rgba(#111111, 0.5);
    border-top: 1px solid black;
    border-bottom: solid 1px black;
  }
}

.section.thirdGradient {

  background: url(/images/css/pattern3.png) repeat;

  .section-header {
    @include gradient(rgba($thirdColour, 0.8), rgba(darken($thirdColour, 10), 0.8));
    color: #050505;
    box-shadow: 0px 2px 2px 2px rgba(#111111, 0.5);
    border-top: 1px solid black;
    border-bottom: solid 1px black;
  }
}

.section.fourthGradient {

  background: url(/images/css/pattern4.png) repeat;

  .section-header {
    @include gradient(rgba(lighten($fourthColour, 25), 0.8), rgba(lighten($fourthColour, 10), 0.8));
    color: darken($fourthColour, 60);
    box-shadow: 0px 2px 2px 2px rgba(#111111, 0.5);
    border-top: 1px solid black;
    border-bottom: solid 1px black;
  }
}

.section.fifthGradient {

  background: url(/images/css/pattern5.png) repeat;

  .section-header {
    @include gradient(rgba(darken($fifthColour, 10), 0.8), rgba(darken($fifthColour, 25), 0.8));
    color: darken($fifthColour, 60);
    box-shadow: 0px 2px 2px 2px rgba(#111111, 0.5);
    border-top: 1px solid black;
    border-bottom: solid 1px black;
  }
}

.button-section {
  position: relative;
  /* background-color: $fifthColour; */
  @include gradient($darkColour, darken($darkColour, 10));
  padding: 30px 0;
}

.anchor
{
  display: block; position: relative; top: -50px; visibility: hidden;
}

div.modal-dialog
{
  width: 90%;
  max-width: 800px;
  color: rgba($thirdColour, 0.8);

  &.wychmodal
  {
    div.modal-content {
      top: 20px;
      box-shadow: none !important;
      background-color: transparent !important;
      border: solid transparent none !important;
      border-radius: none !important;

      .close {
        color: $thirdColour;
      }

      .note
      {
        padding-top: 2px;
        font-size: 11px;
        font-weight: normal;
        color: $firstColour;
      }

      .required-note
      {
        font-size: 12px;
      }
    }
  }

}


div.banner-table {
  display: table;
  width: 100%;
  max-height: 15%;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;

  .center-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 50px;
    z-index: 10;
  }
}

div.section
{
  padding-top: 0px;
  padding-bottom: 15px;
  min-height: 75px;

  .section-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h2 {
    padding-top: 0px;
    margin-top: 10px;
  }

  p {
    font-size: 15px;
  }


  .tile {
    text-align: center;
    padding: 10px 10px;
    display: table;
    width: 100%;
    min-width: 100%;
    border-radius: 15px;
    border: 3px solid #000000;
    margin: 10px inherit;
    height: 100%;
    min-height: 100%;
  }

  .tileLink
  {
    color: $fifthColour;
    text-decoration: none;
  }

}

.navbar {
    border-radius: 0 !important;

    &.wychwood-nav
    {
      position: fixed;
      width: 100%;
      background-color: rgba($fourthColour, 0.85);
      z-index: 50;
    }
}

.nav > li > a
{
  padding: 10px 10px;
  padding-top: 15px;
}

.navbar-default .navbar-brand
{
    color: #F0FFFF;
    padding-top: 13px;
}

.navbar-default a.navbar-brand:hover
{
    color: #F0FFFF;
}

.navbar-default {
    border-color: $darkColour;
    color: #d9F0F0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba($fourthColour, 0.9);
    color: #F0FFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #d9F0F0;
    text-shadow: 2px 2px rgba(50,50,50, 0.5);
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #F0FFFF;
}

.navbar .form-control {
    background-color: #DDDDCC;
}

.navbar .btn-default {
    background-color: #BBBBAA;
}

.bullet-wrapper
{
  background-color: rgba($thirdColour, 0.7);
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  border-top: 6px solid #ccc;
  box-shadow: 2px 2px 2px 2px #888;
  padding: 15px 15px;

  .bullet-icon {
    position: relative;
    padding-right: 15px;
  }

  .bullet-title {
      font-size: 20px;
  }

  .bullet-body {
    position: relative;
  }
}

div.consult-wrapper
{
  background-color: rgba($thirdColour, 0.6);
  margin: 15px 15px;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 8px 8px;
  border-top: 6px solid #ccc;
  box-shadow: 2px 2px 2px 2px #888;
  padding: 15px 15px;

  p
  {
    font-size: 18px;
  }
}