div.modal-content {
  box-shadow: none !important;
  background-color: none !important;
  border: none !important;
  border-radius: none !important;
}

.modal-backdrop
{
  background-color: rgba($darkColour, 0.9);
  opacity: 1.0 !important;
}
