div.modal-content {
  box-shadow: none !important;
  color: #E0E0E0;
  background-color: none !important;
  border: none !important;
  border-radius: none !important;
}

.modal-backdrop
{
  background-color: rgba(#173850, 0.95);
  opacity: 1.0 !important;
}
