div.post-comment-count {
  text-align: right;
  display: inline-block;
}


div.post-wrapper {
  background-color: #FFFFFD;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  max-height: 250px;
  min-height: 250px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 2px 2px 2px #888;

  div.post-header {
    padding: 20px 20px;
  }

  div.post-body
  {
    position: relative;

    .fader1 {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100px;
      overflow: hidden;
      @include gradient(rgba(#FFFFFF, 0.0), rgba(#FFFFFF, 1.0));
      z-index: 5;
    }

    .fader2
    {
      position: relative;
      top: 100;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 50px;
      overflow: hidden;
      background-color: #FFF;
      z-index: 5;
    }
  }

  div.post-description {
    position: absolute;
    color: #444444;
    top: 0;
    opacity: 1.0;
    transition: all 0.5s ease 0;
    padding: 0px 20px;
    max-height: 200px;
  }

  &:hover div.post-description
  {
    opacity: 0.0;
  }



  a {
    color: $darkColour;
  }

  a:hover {
    text-decoration: none;
  }

  .post-category {

    font-size: 8pt;
    margin: 0 0;
    padding: 4px 6px;

    &.team {
      background-color: $teamColour;
      color: darken($teamColour, 30);
    }

    &.tech {
      background-color: $techColour;
      color: darken($techColour, 30);
    }

    &.process {
      background-color: $processColour;
      color: darken($processColour, 30);
    }

    &.launchcode {
      background-color: $launchcodeColour;
      color: darken($launchcodeColour, 30);
    }

    &.gotcha {
      background-color: $gotchaColour;
      color: darken($gotchaColour, 30);
    }
  }

  div.table-row {
    display: table-row;
    width: 100%;

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &:hover div.author-brief {
    bottom: 30px;

    div.post-author {
      opacity: 1.0;
    }
  }

  .post-footer
  {
    width: 100%;
    position: absolute;
    display: table;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-size: 11px;
    padding: 4px 4px;

    .post-date
    {
      text-align: left;
    }

    &.team {
      background-color: $teamColour;
      color: darken($teamColour, 30);
    }

    &.tech {
      background-color: $techColour;
      color: darken($techColour, 30);
    }

    &.process {
      background-color: $processColour;
      color: darken($processColour, 30);
    }

    &.launchcode {
      background-color: $launchcodeColour;
      color: darken($launchcodeColour, 30);
    }

    &.gotcha {
      background-color: $gotchaColour;
      color: darken($gotchaColour, 30);
    }
  }

  &:hover {
    cursor: pointer;
  }

  h3.post-title {
    margin-top: 0px;
  }
}