.single-post-wrapper
{
  min-height: 1000px;

  figure {

    border: 2px solid rgba(#444444, 0.5);
    padding: 7px 7px;
    margin: 15px 15px;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      h4 {
        font-size: 13px;
        text-align: right;
      }
    }
  }

  div.blog-title {
    height: auto;
    width: 150px;
    margin: 15px auto;
    vertical-align: middle;
    z-index: 5;

    @media screen and (max-width: $break-small) {
      height: auto;
      width: 100px;
    }

    .title-svg
    {
      height: 150px;
      width: 150px;

      @media screen and (max-width: $break-small) {
        height: 100px;
        width: 100px;
        margin-left: 5px;
      }
    }
  }

  div.blog-link {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  div.post-title {
    padding: 0;

    h1 {
      margin: 15px 0 0 0;
    }
  }

  div.category-table {
    display: table;
    width: 100%;
    padding-top: 55px;

    div.table-row {
      display: table-row;

      div.table-cell {
        display: table-cell;
        position: relative;
        vertical-align: middle;

        &.blog-descriptor {
          width: 290px;
          font-size: 12pt;
          vertical-align: middle;
          margin: 0 auto;
          z-index: 5;

          div.dotted-border {
            width: 290px;
            border-top: 1px solid rgba(#000000, 0.5);
            border-bottom: 1px solid rgba(#000000, 0.5);
            padding: 5px 5px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;

            @media screen and (max-width: $break-small) {
              margin-right: 5px;
            }
          }
        }

        .circuit-left
        {
          position: absolute;
          height: 100%;
          width: auto;
          left: 0;
          top: 0;
          z-index: 5;
        }

        .circuit-right
        {
          position: absolute;
          height: 100%;
          width: auto;
          right: 0;
          top: 0;
          z-index: 5;
          transform: rotate(180deg);
        }

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  img.category-image {
    border-radius: 50px 50px;
  }
}

.body-gradient-launchcode {
  @include gradient(lighten($launchcodeColour, 25), #FFFFFD);
}

.body-gradient-process {
  @include gradient(lighten($processColour, 40), #FFFFFD);
}

.body-gradient-team {
  @include gradient(lighten($teamColour, 20), #FFFFFD);
}

.body-gradient-tech {
  @include gradient(lighten($techColour, 20), #FFFFFD);

}

.body-gradient-gotcha {
  @include gradient(lighten($gotchaColour, 20), #FFFFFD);

}

div.single-post-row
{
  margin-bottom: 60px;
}

div.article-body
{
  background-color: #FFFFFD;
  border-radius: 10px;

  &.launchcode {
    border-top: 10px solid $launchcodeColour;
  }

  &.tech {
    border-top: 10px solid $techColour;
  }

  &.team {
    border-top: 10px solid $teamColour;
  }

  &.process {
    border-top: 10px solid $processColour;
  }

  &.gotcha {
    border-top: 10px solid $gotchaColour;
  }
}

