.single-post-wrapper
{
  min-height: 1000px;

  figure {

    border: 2px solid rgba(#444444, 0.5);
    padding: 7px 7px;
    margin: 15px 15px;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      h4 {
        font-size: 13px;
        text-align: right;
      }
    }
  }

  div.blog-title {
    height: auto;
    width: 150px;
    margin: 15px auto;
    vertical-align: middle;
    z-index: 5;

    @media screen and (max-width: $break-small) {
      height: auto;
      width: 100px;
    }

    .title-svg
    {
      height: 150px;
      width: 150px;

      @media screen and (max-width: $break-small) {
        height: 100px;
        width: 100px;
        margin-left: 5px;
      }
    }
  }

  div.blog-link {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  div.post-title {
    padding: 0;

    h1 {
      margin: 5px 0 0 0;
    }

    div.post-date {
      margin-top: 5px;
      font-size: 9pt;
    }
  }

  div.post {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  div.category-table {
    display: table;
    width: 100%;
    padding-top: 55px;

    div.table-row {
      display: table-row;

      div.table-cell {
        display: table-cell;
        position: relative;
        vertical-align: middle;

        &.blog-descriptor {
          width: 290px;
          font-size: 12pt;
          vertical-align: middle;
          margin: 0 auto;
          z-index: 5;

          div.dotted-border {
            width: 290px;
            border-top: 1px solid rgba(#000000, 0.5);
            border-bottom: 1px solid rgba(#000000, 0.5);
            padding: 5px 5px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 200;

            @media screen and (max-width: $break-small) {
              margin-right: 5px;
            }
          }
        }

        .circuit-left
        {
          position: absolute;
          height: 100%;
          width: auto;
          left: 0;
          top: 0;
          z-index: 5;
        }

        .circuit-right
        {
          position: absolute;
          height: 100%;
          width: auto;
          right: 0;
          top: 0;
          z-index: 5;
          transform: rotate(180deg);
        }

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  img.category-image {
    border-radius: 50px 50px;
  }

div.next-prev-navigation {

  position: relative;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 20px;
  padding-top: 15px;
  border-top: thin solid #dddddd;

  div.prev-box {

    div.prev {
      font-size: 15pt;
      font-weight: 200;
    }

    div > a {

    }
  }

  div.next-box {

    div.next{
      font-size: 15pt;
      font-weight: 200;
    }

    div > a {

    }
  }
}

  div.hire-us-banner {
    margin-top: 25px;
    padding: 50px 0 0 0;
    background: white;
    text-align: center;

    div.table {

      margin: 0 auto;
      margin-bottom: 40px;
      max-width: 600px;


      div.rocket-cell {
        max-width: 100px;
        width: 100px;
        overflow: visible;
        border-top: 1px solid rgba(#888888, 0.3);
        border-bottom: 1px solid rgba(#888888, 0.3);

        svg {
          position: relative;
          right: 25px;
        }
      }

      div.text-cell {
        border: 1px solid rgba(#888888, 0.3);
        border-left: none;
      }
    }

    div.inline {
      display: inline-block;
    }

    div.banner-text {
      font-size: 24pt;
      line-height: 1.3em;
      padding: 10px 25px;
    }

    div.banner-button {
      margin: 15px auto;
    }

    div.btn-primary {
      font-weight: bold;
    }
  }
}

.body-gradient-launchcode {
  @include gradient(lighten($launchcodeColour, 25), #FFFFFD);
}

.body-gradient-process {
  @include gradient(lighten($processColour, 40), #FFFFFD);
}

.body-gradient-team {
  @include gradient(lighten($teamColour, 20), #FFFFFD);
}

.body-gradient-tech {
  @include gradient(lighten($techColour, 20), #FFFFFD);

}

.body-gradient-gotcha {
  @include gradient(lighten($gotchaColour, 20), #FFFFFD);

}

div.single-post-row
{
  margin-bottom: 10px;
}

div.article-body
{
  background-color: #FFFFFD;
  border-radius: 10px;

  &.launchcode {
    border-top: 10px solid $launchcodeColour;
  }

  &.tech {
    border-top: 10px solid $techColour;
  }

  &.team {
    border-top: 10px solid $teamColour;
  }

  &.process {
    border-top: 10px solid $processColour;
  }

  &.gotcha {
    border-top: 10px solid $gotchaColour;
  }
}

