<div class="social-bar">
    <div class="social-icon">
        <a class="twitter-popup" onclick="tweet(event, '{{ .Title }}', '{{ .Permalink }}')" href="{{ .Permalink }}" rel="nofollow"><i class="fa fa-fw fa-twitter"></i>Tweet</a>
    </div>
<!--
    <div class="social-icon">
        <img src="/images/social/twitter.png" />
    </div>
    <div class="social-icon">
        <img src="/images/social/facebook.png" />
    </div>
    <div class="social-icon">
        <img src="/images/social/googleplus.png" />
    </div>
    <div class="social-icon">
        <img src="/images/social/linkedin.png" />
    </div>-->
</div>